:root {
  --white-color: #ffffff;
}

.iconButton-custom {
  color: var(--white-color);
  background: linear-gradient(
    to right,
    rgba(0, 63, 221, 1),
    rgba(24, 255, 113, 1)
  );
  border: none;
  outline: none;
//   width: 40px;
//   height: 40px;
  &:hover {
    background: linear-gradient(
      to right,
      rgba(0, 63, 221, 1),
      rgba(24, 255, 113, 1)
    ) !important;
    color: white !important;
  }

  &:disabled{
    background: linear-gradient(
      to right,
      rgba(0, 63, 221, 1),
      rgba(24, 255, 113, 1)
    ) !important;
    color: white !important;
    opacity: 0.6;
  }
}
