.table-content {
  width: 100%;
  background-color: #0d0f31;
  thead {
    tr {
      th {
        height: 39px;
        text-align: left;
        color: #c2c2c2;
        padding: 10px 10px;
        font-size: 14px;
        line-height: 16.94px;
        font-weight: 400;
        font-family: Inter;
        text-transform: uppercase;
        opacity: 0.5;
      }
    }
  }
  tbody {
    tr {
      border-top: 1px solid #c2c2c2;
      height: 71px;
      td {
        padding: 0px 10px;
        color: #c2c2c2;
        font-size: 16px;
        font-family: Inter;
        line-height: 19.36px;
        font-weight: 600;
      }
    }
    .table-text {
      font-weight: 400;
    }
    .project-table-style {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
