#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background: hsl(237, 58%, 12%);
  display: flex;
  justify-content: center;
}

.test {
  width: 250px;
}